<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">IMExperts</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['search']">Forms</a>
        </li>
        <!-- li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['cards']">Cards</a>
    </li -->
    </ul>
</nav>
<!-- End Fixed navbar -->
<br>
<br>
<br>
<br>
<div style="text-align:center">
    <h2>Welcome to {{title}}!</h2>
    <br>
    <br>
    <img src="./assets/imagens/logotipo-imexperts.png" width="30%">
    <br>
    <br>
    <br>
    <br>
</div>

<router-outlet></router-outlet>